{% extends "base.html" %}
<!--引入base.html -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>登录</h3>
                </div>
                <div class="panel-body">
                    <form action="/signin" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱：</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control " placeholder="Email">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码：</label>
                            <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary col-sm-4 ">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}